NEXT_PUBLIC_API_BASE_URL=http://localhost:4100
NEXT_PUBLIC_KAKAO_JAVASCRIPT_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://xxnichouglsuyxbsunzk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_X7jpHR0wc699W-a8mVJQPQ_IDQLoDp4